<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brixham.admity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_ratan_matka"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_ratan_matka"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.HolidayView"></activity>
        <activity android:name=".views.EventDetails" />
        <activity android:name=".views.Transport" />
        <activity android:name=".views.HolidayActivity" />
        <activity android:name=".views.FeesActivity" />
        <activity android:name=".views.Attendance" />
        <activity android:name=".views.StudentProfile" />
        <activity android:name=".views.PaymentActivity" />
        <activity android:name=".views.HelpActivity" />
        <activity android:name=".views.ChangePassword" />
        <activity android:name=".views.ChatAtivity" />
        <activity android:name=".views.Messages" />
        <activity android:name=".views.Notification" />
        <activity android:name=".views.DashBoard" />
        <activity android:name=".views.LoginScreen" />
        <activity android:name=".views.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>